@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
body {
  transition: background-color 0.5s;
}

.dark {
  --bg-color: #1f2937; /* example dark background color */
  --text-color: #ffffff; /* example dark text color */
}

.bg-white {
  background-color: var(--bg-color, #ffffff);
}

.dark:bg-stone-900 {
  background-color: #1f2937; /* example dark background color */
}

.text-neutral-900 {
  color: var(--text-color, #000000);
}

.dark:text-neutral-100 {
  color: #ffffff;
}
